@model IEnumerable<DanielStoreFront.Models.Products>
@{
    ViewData["Title"] = "Index";
}
<!--./Views/Products/index.cshtml/-->
@foreach (var product in Model)
{
<h2>@product.Name</h2>
    <div class="row">
        <div class="col-4">
            <img src=" " alt="@product.Name" sizes=" = 300" />
        </div>
        <div class="col-8">
            <dl>
                <dt>Explosive Yield</dt>
                <dd>@product.ExplosiveYield Kilotons</dd>
                <dt>Description</dt>
                <dd>@product.Description</dd>
                <dt>Price</dt>
                <dd>@(product.Price.HasValue ? product.Price.Value.ToString("c") : "No Price")</dd>
            </dl>
            @if(product.Reviews != null && product.Reviews.Any())
             {
                    @foreach(var review in product.Reviews)
                     {
                        <blockquote>
                            @review.Body - @review.Rating
                        </blockquote>

                     }
             }
            <form asp-action="index" asp-controller="Products">
                <input type="hidden" name="id" value="@product.Name" />
                <input type="Submit" value="Add to cart" />
            </form>
        </div>
    </div>
}